<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="INFO">
        <appender-ref ref="${LOGBACK_APPENDER:-STDOUT_JSON}"/>
    </root>

    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="org.apache.kafka" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="no.nav.helse.rapids_rivers.PingPong" level="DEBUG"/>
    <include resource="logback-secure.xml"/>
</configuration>
