version: 2

updates:
  # ==============
  # KOTLIN BACKEND
  # ==============
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "monthly" 
      day: "sunday"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    groups:
      avro-og-kafka:
        patterns:
          - "org.apache.avro*"
          - "no.nav:kafka*"
          - "org.apache.kafka*"
          - "com.github.davidmc24.gradle.plugin.avro"
      backend:
        patterns:
          - "io.prometheus*"
          - "com.fasterxml.jackson*"
          - "no.nav.security*"
          - "io.getunleash*"
          - "com.zaxxer:HikariCP"
          - "org.postgresql*"
          - "org.flyway*"
          - "com.github.seratch:kotliquery"
          - "com.github.ben-manes.caffeine:caffeine"
          - "no.nav.klage:klage-kodeverk"
          - "com.michael-bull.kotlin-result:kotlin-result"
          - "no.nav.teamdokumenthandtering:teamdokumenthandtering-avro-schemas"
          - "org.slf4j*"
          - "ch.qos.logback*"
          - "net.logstash*"
          - "com.github.navikt:rapids-and-rivers"
          - "io.ktor*"
          - "org.jetbrains.kotlinx*"
          - "org.apache.commons:commons-compress"
          - "org.junit*"
          - "io.kotest*"
          - "org.testcontainers*"
          - "io.mockk:mockk"
          - "no.nav.security:mock-oauth2-server"
          - "com.github.navikt.pensjon-etterlatte-tjenestespesifikasjoner*"
          - "com.github.jk1.dependency-license-report"
      jms-mq:
        patterns:
          - "org.messaginghub:pooled-jms"
          - "com.ibm.mq:com.ibm.mq.jakarta.client"
      micrometer:
        patterns:
          - "io.micrometer*"

  # =============
  # FRONTEND
  # =============
  - package-ecosystem: "npm"
    directories:
      - "/apps/etterlatte-saksbehandling-ui/client"
      - "/apps/etterlatte-saksbehandling-ui/server"
    schedule:
      interval: "monthly"
      day: "sunday"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    groups:
      eslint:
        patterns:
          - "prettier"
          - "eslint"
          - "eslint-*"
          - "husky"
          - "lint-staged"
          - "@typescript-eslint/*"
          - "@testing-library/*"
          - "@types/chai"
          - "@types/mocha"
          - "chai"
          - "mocha"
      ds:
        patterns:
          - "@navikt/ds-*"
          - "@navikt/aksel-icons"
      diverse:
        patterns:
          - "slate"
          - "slate-*"
          - "vite"
          - "vite-tsconfig-paths"
          - "vitest"
          - "@vitejs/plugin-react-swc"
          - "@types/node"
          - "jsdom"
          - "react"
          - "react*"
          - "redux"
          - "@types/react*"
          - "@reduxjs/toolkit"
          - "typescript"
          - "express"
          - "http-proxy-middleware"
          - "@types/express"
          - "node-fetch"
          - "@types/node"
          - "@types/node-fetch"
          - "ts-node"
          - "ts-node-dev"
          - "@types/cors"
          - "winston*"
          - "@types/request"
          - "prom-client"
          - "unleash-client"
          - "license-checker-rseidelsohn"

  # =============
  # FRONTEND ROOT
  # =============
  - package-ecosystem: "npm"
    directory: "/apps/etterlatte-saksbehandling-ui/"
    schedule:
      interval: "monthly"
      day: "sunday"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    groups:
      eslint:
        patterns:
          - "prettier"
          - "eslint"
          - "husky"
          - "lint-staged"
          - "@typescript-eslint/*"

  # ==============
  # GITHUB ACTIONS
  # ==============
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "sunday"
    cooldown:
      default-days: 7

  # ==============
  # Docker
  # ==============
  - package-ecosystem: "docker"
    directories:
      - /docker
      - /apps/etterlatte-saksbehandling-ui
    schedule:
      interval: "monthly"
      day: "sunday"
    cooldown:
      default-days: 7
    groups:
      dockerfilene:
        patterns:
          - "*"
