version: 2
updates:
  # ==============
  # KOTLIN BACKEND
  # ==============

  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "monthly" 
      day: "sunday"
    open-pull-requests-limit: 10
    groups:
      tjenestespesifikasjoner:
        patterns:
          - "com.github.navikt.pensjon-etterlatte-tjenestespesifikasjoner*"
      avro-og-kafka:
        patterns:
          - "org.apache.avro*"
          - "no.nav:kafka*"
          - "org.apache.kafka*"
          - "com.github.davidmc24.gradle.plugin.avro"
          - "javax.el:javax.el-api"
          - "org.glassfish:jakarta.el"
      test:
        patterns:
          - "org.junit*"
          - "io.kotest*"
          - "org.testcontainers*"
          - "com.github.tomakehurst:wiremock-jre8"
          - "io.mockk:mockk"
          - "no.nav.security:mock-oauth2-server"
      backend:
        patterns:
          - "io.micrometer*"
          - "io.prometheus*"
          - "com.fasterxml.jackson*"
          - "no.nav.security*"
          - "io.getunleash*"
          - "com.zaxxer:HikariCP"
          - "org.postgresql*"
          - "org.flyway*"
          - "com.github.seratch:kotliquery"
          - "com.github.ben-manes.caffeine:caffeine"
          - "jakarta.xml.bind:jakarta.xml.bind-api"
          - "org.glassfish.jaxb:jaxb-runtime"
          - "no.nav.klage:klage-kodeverk"
          - "com.michael-bull.kotlin-result:kotlin-result"
          - "no.nav.teamdokumenthandtering:teamdokumenthandtering-avro-schemas"
          - "org.slf4j*"
          - "ch.qos.logback*"
          - "net.logstash*"
          - "com.github.navikt:rapids-and-rivers"
      jms-mq:
        patterns:
          - "org.messaginghub:pooled-jms"
          - "com.ibm.mq:com.ibm.mq.jakarta.client"
      ktor-og-kotlinx:
        patterns:
          - "io.ktor*"
          - "org.jetbrains.kotlinx*"


  # =============
  # FRONTEND ROOT
  # =============

  - package-ecosystem: "npm"
    directory: "/apps/etterlatte-saksbehandling-ui/"
    schedule:
      interval: "monthly"
      day: "sunday"
    open-pull-requests-limit: 10
    groups:
      eslint:
        patterns:
          - "prettier"
          - "eslint"
          - "husky"
          - "lint-staged"
          - "@typescript-eslint/*"

  # ===============
  # FRONTEND CLIENT
  # ===============

  - package-ecosystem: "npm"
    directory: "/apps/etterlatte-saksbehandling-ui/client"
    schedule:
      interval: "monthly"
      day: "sunday"
    open-pull-requests-limit: 10
    groups:
      ds:
        patterns:
          - "@navikt/ds-*"
          - "@navikt/aksel-icons"
      eslint-og-test:
        patterns:
          - "@typescript-eslint/*"
          - "prettier"
          - "eslint"
          - "eslint*"
          - "@testing-library*"
      diverse:
        patterns:
          - "slate*"
          - "unleash*"
          - "vite"
          - "vite-tsconfig-paths"
          - "vitest"
          - "@vitejs/plugin-react-swc"
          - "prom-client"
          - "unleash-klient"
          - "@types/node"
      react:
        patterns:
          - "react"
          - "react*"
          - "redux"
          - "@types/react*"
          - "@reduxjs/toolkit"


  # ===============
  # FRONTEND SERVER
  # ===============

  - package-ecosystem: "npm"
    directory: "/apps/etterlatte-saksbehandling-ui/server"
    schedule:
      interval: "monthly"
      day: "sunday"
    open-pull-requests-limit: 10
    groups:
      lint-og-test:
        patterns:
          - "@typescript-eslint/*"
          - "prettier"
          - "eslint"
          - "eslint*"
          - "@types/chai"
          - "@types/mocha"
          - "chai"
          - "mocha"
      prod:
        patterns:
          - "express"
          - "http-proxy-middleware"
          - "@types/express"
          - "node-fetch"
          - "@types/node"
          - "@types/node-fetch"
          - "ts-node"
          - "ts-node-dev"
          - "@types/cors"
          - "winston*"
          - "@types/request"


  # ==============
  # GITHUB ACTIONS
  # ==============

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "sunday"
