<?xml version="1.0" encoding="UTF-8"?>
<included>
    <appender name="secureAppender" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>team-logs.nais-system:5170</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${NAIS_POD_NAME}","nais_container_name":"${NAIS_APP_NAME}"}
            </customFields>
            <includeContext>false</includeContext>
        </encoder>
    </appender>

    <logger name="sikkerLogg" level="DEBUG" additivity="false">
        <appender-ref ref="secureAppender"/>
    </logger>
</included>
