.DS_Store
.eslintcache
*.iml
**.env**

.gradle/
.idea/

build/
dist/
out/
node_modules/
yarn-error.log
/apps/journalfoer-soeknad/pdf.pdf

**/cypress/videos/
**/cypress/screenshots/
**/coverage/
/buildSrc/build/
