version: "3"
services:
  mock-oauth2-server:
    image: 'ghcr.io/navikt/mock-oauth2-server:0.5.7'
    ports:
      - "8082:8082"
    hostname: localhost
    environment:
      SERVER_PORT: 8082
      JSON_CONFIG: >
        {
          "interactiveLogin": false,
          "httpServer": "NettyWrapper",
          "tokenCallbacks": [
            {
              "issuerId": "azure",
              "tokenExpiry": 3600,
              "requestMappings": [
                {
                  "requestParam": "scope",
                  "match": "*",
                  "claims": {
                    "sub": "clientId",
                    "aud": [
                        "clientId"
                    ],
                    "NAVident": "Saksbehandler01",
                    "name": "John Doe"
                  }
                }
              ]
            }
          ]
        }
  postgres:
    restart: always
    container_name: migrering-postgres
    image: postgres
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
