{{> ../_fragments/header }}

<div class="row gy-5">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Forsiden</a></li>
                <li class="breadcrumb-item active" aria-current="page">Post søknad</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-md-6" id="opprettGruppeInfo">
        <div class="alert alert-warning">
            For å kunne bruke tjenesten må du først gå inn på Dolly og opprette en gruppe med navn
            <b>etterlatte-testdata</b> <br>
            Du kan logge inn på Dolly via:
            <a href="https://dolly.ekstern.dev.nav.no/login">
                https://dolly.ekstern.dev.nav.no/login
            </a>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-md-6" id="soeknadInnsendtAlert">
        <div class="alert alert-success">
        </div>
    </div>
</div>

<div id="main-content">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="text-align: right">Send søknad</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>
<script>
    const behandlingssteg = [
        "KLAR",
        "BEHANDLING_OPPRETTA",
        "VILKAARSVURDERT",
        "TRYGDETID_OPPRETTA",
        "BEREGNA",
        "AVKORTA",
        "VEDTAK_FATTA",
        "IVERKSATT"
    ]

    const opprettGruppeInfo = document.querySelector('#opprettGruppeInfo')
    const mainContent = document.querySelector('#main-content')
    const soeknadInnsendtAlert = document.querySelector('#soeknadInnsendtAlert')

    soeknadInnsendtAlert.style.display = 'none'

    if (!"{{gruppeId}}") {
        opprettGruppeInfo.style.display = 'block'
        mainContent.style.visibility = 'hidden'
    } else {
        opprettGruppeInfo.style.display = 'none'
        mainContent.style.visibility = 'visible'
        settOppTabell()
    }

    function settOppInput() {
        const inputTableElement = document.createElement('td')

        // Antall
        const antallLabel= document.createElement('label')
        antallLabel.innerHTML = "Antall saker: "
        antallLabel.htmlFor = "antall"
        inputTableElement.appendChild(antallLabel)

        const antallInput = document.createElement('input')
        antallInput.setAttribute('id', 'antall')
        inputTableElement.appendChild(antallInput)

        inputTableElement.appendChild(document.createElement('br'))

        // Antall dager siden dødsfall
        const antallDagerSidenDoedsfallLabel = document.createElement('label')
        antallDagerSidenDoedsfallLabel.innerHTML = "Antall dager siden dødsfall: "
        antallDagerSidenDoedsfallLabel.htmlFor = "antallDagerSidenDoedsfall"
        inputTableElement.appendChild(antallDagerSidenDoedsfallLabel)

        const antallDagerSidenDoedsfallInput = document.createElement('input')
        antallDagerSidenDoedsfallInput.setAttribute('id', 'antallDagerSidenDoedsfall')
        inputTableElement.appendChild(antallDagerSidenDoedsfallInput)

        inputTableElement.appendChild(document.createElement('br'))

        // Behandlingssteg
        const stegLabel= document.createElement('label')
        stegLabel.innerHTML = "Behandle frem til-og-med: "
        stegLabel.htmlFor = "behandlingsstegDropdown"
        inputTableElement.appendChild(stegLabel)

        const select = document.createElement("select");
        select.id = "behandlingsstegDropdown";

        for (const steg in behandlingssteg) {
            const option = document.createElement("option");
            option.value = behandlingssteg[steg];
            option.innerHTML = behandlingssteg[steg];
            select.add(option);
        }
        select.selectedIndex = behandlingssteg.indexOf("IVERKSATT")

        inputTableElement.appendChild(select)

        return inputTableElement
    }

    function settOppKnapper() {
        const newButton = (type, label, btnClass) => {
            const btn = document.createElement('button')
            btn.classList.add('btn')
            btn.classList.add('me-1')
            btn.classList.add(btnClass)
            btn.innerHTML = label
            btn.type = 'button'
            btn.onclick = () => sendSoeknad(type)
            return btn
        }

        const buttonTableElement = document.createElement('td')
        buttonTableElement.appendChild(newButton('BARNEPENSJON', 'BP', 'btn-primary'))
        buttonTableElement.appendChild(newButton('OMSTILLINGSSTOENAD', 'OMS', 'btn-info'))
        buttonTableElement.style.textAlign = 'right'
        buttonTableElement.style.width = '300px'
        return buttonTableElement
    }

    function settOppTabell() {
        const table = document.querySelector('tbody');
        table.innerHTML = "";

        const tableRow = document.createElement('tr')
        tableRow.appendChild(settOppInput())
        tableRow.appendChild(settOppKnapper())

        table.appendChild(tableRow)
    }

    const sendSoeknad = async (type) => {
        const soeknadInnsendtAlert = document.querySelector('#soeknadInnsendtAlert')
        soeknadInnsendtAlert.style.display = "none"

        const antall = document.getElementById("antall").value
        const antallDagerSidenDoedsfall = document.getElementById("antallDagerSidenDoedsfall").value
        const steg = document.getElementById("behandlingsstegDropdown").value

        await fetch('opprett-og-behandle', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: `type=${type}&antall=${antall}&antallDagerSidenDoedsfall=${antallDagerSidenDoedsfall}&behandlingssteg=${steg}&gruppeId={{gruppeId}}`
        }).then(res => {
            if (res.ok) {
                soeknadInnsendtAlert.firstElementChild.innerHTML = `Søknad(er) er innsendt og registrert`
                soeknadInnsendtAlert.style.display = "block"
            }
        });
    }

</script>

{{> ../_fragments/footer }}
