<div class="row">
    <div class="col">
        <div class="alert alert-danger">
            <h4 class="alert-heading">
                {{errorMessage}}
            </h4>

            <code>
                {{stacktrace}}
            </code>
        </div>
    </div>
</div>
