{{> ../_fragments/header }}

<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Forsiden</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ beskrivelse }}</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-md-12 col-lg-8">
        <form action="/{{ path }}" method="post">
            <div class="mb-3">
                <label for="key" class="form-label">Nøkkel:</label>
                <input type="text" name="key" id="key" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="vedtakIdInput" class="form-label">VedtakÍD:</label>
                <input name="vedtakIdInput"
                          id="vedtakIdInput"
                          min="0"
                          max="999999999999"
                          class="form-control"
                          required
                >
            </div>

            <div class="alert alert-danger" id="error" style="visibility: hidden"><!-- js magic --></div>

            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>

{{> ../_fragments/footer }}
