{{> ../_fragments/header }}

<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Forsiden</a></li>
                <li class="breadcrumb-item"><a href="/{{ path }}">{{ beskrivelse }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sendt</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col">
        <h3>Melding om mottatt samordning postet!</h3>

        <p>
            Partisjon: {{partisjon}}
            <br>
            Offset: {{offset}}
        </p>
    </div>
</div>

{{> ../_fragments/footer }}
