{{> ../_fragments/header }}

<div class="row gy-5">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Forsiden</a></li>
                <li class="breadcrumb-item active" aria-current="page">Post søknad</li>
            </ol>
        </nav>
    </div>
</div>

<div class="col-12 col-md-6" id="opprettGruppeInfo">
    <div class="alert alert-warning">
        For å kunne bruke tjenesten må du først gå inn på Dolly og opprette en gruppe med navn <bold>etterlatte-testdata</bold> <br>
        Du kan logge inn på Dolly via:
        <a href="https://dolly.ekstern.dev.nav.no/login">
            https://dolly.ekstern.dev.nav.no/login
        </a>
    </div>
</div>

<div id="main-content">
    <div class="row justify-content-center gy-5">
        <div class="col-12 col-md-6">
            <div class="alert alert-info">
                Steg 1: Opprett testpersoner i Dolly
            </div>
        </div>
    </div>

    <button
        type="button"
        onclick="hentFamilie()"
        class="btn btn-primary"
    >
        Opprett familie i gruppe
    </button>

    <div class="row justify-content-center gy-5">
        <div class="col-12 col-md-6">
            <div class="alert alert-info">
                Steg 2: Post søknad med familien på kafka
            </div>
        </div>
    </div>

    <form action="/{{ path }}" method="post">
        <div class="mb-3">
            <label for="key" class="form-label">Nøkkel:</label>
            <input type="text" name="key" id="key" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="fnrGjenlevende" class="form-label">Gjenlevende (fnr):</label>
            <input type="tel"
                   pattern="[0-9]+"
                   minlength="11"
                   maxlength="11"
                   name="fnrGjenlevende"
                   id="fnrGjenlevende"
                   class="form-control"
                   required
            />
        </div>

        <div class="mb-3">
            <label for="fnrAvdoed" class="form-label">Avdød (fnr):</label>
            <input type="tel"
                   pattern="[0-9]+"
                   minlength="11"
                   maxlength="11"
                   name="fnrAvdoed"
                   id="fnrAvdoed"
                   class="form-control"
                   required
            />
        </div>

        <div class="mb-3">
            <label for="fnrBarn" class="form-label">Barn (fnr):</label>
            <input type="tel"
                   pattern="[0-9]+"
                   minlength="11"
                   maxlength="11"
                   name="fnrBarn"
                   id="fnrBarn"
                   class="form-control"
                   required
            />
        </div>

        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
<script>

    const opprettGruppeInfo = document.querySelector('#opprettGruppeInfo')
    const mainContent = document.querySelector('#main-content')

    if (!"{{gruppeId}}") {
        opprettGruppeInfo.style.visibility = 'visible'
        mainContent.style.visibility = 'hidden'
    } else {
        opprettGruppeInfo.style.visibility = 'hidden'
        mainContent.style.visibility = 'visible'
    }

</script>

{{> ../_fragments/footer }}