{{> ../_fragments/header }}

<div class="row gy-5">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Forsiden</a></li>
                <li class="breadcrumb-item active" aria-current="page">Post søknad</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row justify-content-center gy-5">
    <div class="col-12 col-md-6">
        <div class="alert alert-info">
            Liste over testbrukere finner du her:
            <a href="https://confluence.adeo.no/pages/viewpage.action?pageId=419511776">
                https://confluence.adeo.no/pages/viewpage.action?pageId=419511776
            </a>
        </div>
    </div>
</div>

<div class="row justify-content-center gy-5">
    <div class="col-12 col-md-6">
        <form action="/{{ path }}" method="post">
            <div class="mb-3">
                <label for="key" class="form-label">Nøkkel (valgfritt):</label>
                <input type="text" name="key" id="key" class="form-control">
            </div>

            <div class="mb-3">
                <label for="ytelse" class="form-label">Ytelse:</label>
                <select name="ytelse"
                        id="ytelse"
                        class="form-select"
                        required
                >
                    <option value=""></option>
                    <option value="BARNEPENSJON">Barnepensjon</option>
                    <option value="OMSTILLINGSSTOENAD">Omstillingstønad</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="fnrGjenlevende" class="form-label">Gjenlevende (fnr):</label>
                <input type="tel"
                       pattern="[0-9]+"
                       minlength="11"
                       maxlength="11"
                       name="fnrGjenlevende"
                       id="fnrGjenlevende"
                       class="form-control"
                       required
                />
            </div>

            <div class="mb-3">
                <label for="fnrAvdoed" class="form-label">Avdød (fnr):</label>
                <input type="tel"
                       pattern="[0-9]+"
                       minlength="11"
                       maxlength="11"
                       name="fnrAvdoed"
                       id="fnrAvdoed"
                       class="form-control"
                       required
                />
            </div>

            <div class="mb-3">
                <label for="fnrBarn" class="form-label">Barn (fnr):</label>
                <input type="tel"
                       pattern="[0-9]+"
                       minlength="11"
                       maxlength="11"
                       name="fnrBarn"
                       id="fnrBarn"
                       class="form-control"
                />
                <div class="form-text">
                    Hvis flere barn kan du separere de med komma. Dersom du har valgt BARNEPENSJON vil den første i
                    listen være den som søker om ytelsen.
                </div>
            </div>

            <div class="mb-3">
                <label for="behandlingssteg" class="form-label">Behandlingssteg (valgfritt):</label>
                <select name="behandlingssteg"
                        id="behandlingssteg"
                        class="form-select"
                        required
                >
                    <option value=""></option>
                    <option value="KLAR">Klar</option>
                    <option value="BEHANDLING_OPPRETTA">Behandling opprettet</option>
                    <option value="VILKAARSVURDERT">Vilkaarsvurdert</option>
                    <option value="TRYGDETID_OPPRETTA">Trygdetid opprettet</option>
                    <option value="BEREGNA">Beregnet</option>
                    <option value="AVKORTA">Avkortet</option>
                    <option value="VEDTAK_FATTA">Vedtak fattet</option>
                    <option value="IVERKSATT">Iverksatt</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>

{{> ../_fragments/footer }}
