version: "3"
services:
  postgres:
    container_name: etterlatte-brev
    image: postgres
    ports:
      - '5435:5432'
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust

  kafka:
    image: 'bitnami/kafka:latest'
    restart: on-failure
    ports:
      - '9092:9092'
    environment:
      - KAFKA_ENABLE_KRAFT=yes
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://127.0.0.1:9092
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@127.0.0.1:9093
      - ALLOW_PLAINTEXT_LISTENER=yes

  wiremock:
    container_name: wiremock
    image: wiremock/wiremock
    ports:
      - "9091:8080"
    volumes:
      - ./stubs:/home/wiremock
