version: "3"
services:
  postgres:
    image: postgres
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
  mq:
    image: 'icr.io/ibm-messaging/mq'
    ports:
      - '1414:1414'
    environment:
      - LICENSE=accept
      - MQ_QMGR_NAME=QM1