@import "~nav-frontend-skjema-style/dist/main.css";
@import "~nav-frontend-typografi-style/dist/main.css";
@import "~nav-frontend-core/dist/main.css";
@import "~@navikt/ds-css";


* {
    box-sizing: border-box;
}

/**
    Felles-variabler
**/
:root {
    /* Colors */
    --nav-blue: #0067C5;
    --nav-dark-gray: #262626;
    --nav-error-bg: #F9D2CC;
    --nav-error-border: #BA3A26;
}

body {
    margin: 0;
    padding: 0;
}

#fullbredde .dekorator__container {
    max-width: 100%;
    margin: 0 2rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul,
li {
    margin: 0;
    padding: 0;
}
