@import '@navikt/ds-css';

* {
  box-sizing: border-box;
}

/**
    Felles-variabler
**/
:root {
  /* Colors */
  --nav-blue: #0067c5;
  --nav-dark-gray: #262626;
  --nav-error-bg: #f9d2cc;
  --nav-error-border: #ba3a26;
}

body {
  margin: 0;
  padding: 0;
}

#fullbredde .dekorator__container {
  max-width: 100%;
  margin: 0 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul,
li {
  margin: 0;
  padding: 0;
}

/* Gjenopprett padding for Aksel combobox-options som ellers nullstilles av regelen over (ul/li).*/
.aksel-combobox__list-item,
.aksel-combobox__list-item--loading,
.aksel-combobox__list-item--no-options,
.aksel-combobox__list-item--new-option,
.aksel-combobox__list-item--max-selected {
  padding: 12px;
  margin: 2px 8px;
}

.breddepopover {
  min-width: 350px;
}

.padding-modal {
  padding-top: 3rem !important;
  padding-bottom: 1rem !important;
}
