<table>
    <thead>
    <tr>
        <th>Avdød</th>
        <th>Gjenlevende</th>
        <th>Barn</th>
    </tr>
    </thead>
    <tbody>
    {{#familier}}
        <tr>
            <td>{{avdoed}}</td>
            <td>{{gjenlevende}}</td>
            <td>{{barn.[0]}}</td>
        </tr>
    {{/familier}}
    </tbody>
</table>