<?xml version="1.0" encoding="UTF-8"?>
<included>
    <appender name="auditLogger" class="com.papertrailapp.logback.Syslog4jAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%m%n%xEx</pattern>
        </layout>

        <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
            <!-- remote system to log to -->
            <host>audit.nais</host>
            <!-- remote port to log to -->
            <port>6514</port>
            <!-- IMPORTANT: Set to your application name. -->
            <ident>etterlatte-pdltjenester</ident>
            <!-- max log message length in bytes -->
            <maxMessageLength>128000</maxMessageLength>
        </syslogConfig>
    </appender>

    <logger level="INFO" name="auditLogger" additivity="false">
        <appender-ref ref="auditLogger" />
    </logger>
</included>