name: .build-lib.yaml

on:
  workflow_call:

jobs:
  test:
    name: Verify pull request
    runs-on: ubuntu-latest-8-cores
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Gradle test and build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew :libs:${{ github.workflow }}:test :libs:${{ github.workflow }}:build
