name: etterlatte-statistikk

on:
  workflow_dispatch: # Allow manually triggered workflow run
    inputs:
      deploy-prod:
        description: 'Deploy til produksjon'
        required: false
        default: 'false'
        type: choice
        options:
          - true
          - false
  push:
    branches:
      - main
    paths:
      - apps/etterlatte-statistikk/**
      - libs/saksbehandling-common/**
      - libs/etterlatte-behandling-model/**
      - libs/etterlatte-beregning-model/**
      - libs/etterlatte-database/**
      - libs/etterlatte-ktor/**
      - libs/etterlatte-vedtaksvurdering-model/**
      - gradle/libs.versions.toml
      - "!**/test/**"
  pull_request:
    branches:
      - main
    paths:
      - apps/etterlatte-statistikk/**
      - "!apps/etterlatte-statistikk/.nais/*"
      - libs/saksbehandling-common/**
      - libs/etterlatte-behandling-model/**
      - libs/etterlatte-beregning-model/**
      - libs/etterlatte-database/**
      - libs/etterlatte-ktor/**
      - libs/etterlatte-vedtaksvurdering-model/**
      - gradle/libs.versions.toml

permissions:
  contents: write
  id-token: write

jobs:
  test:
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/.test.yaml
    secrets: inherit

  build-and-deploy:
    if: github.event_name != 'pull_request'
    uses: ./.github/workflows/.build-and-deploy.yaml
    secrets: inherit
