name: etterlatte-hendelser-joark

on:
  workflow_dispatch: # Allow manually triggered workflow run
  push:
    branches:
      - main
    paths:
      - apps/etterlatte-hendelser-joark/**
      - libs/saksbehandling-common/**
      - libs/etterlatte-kafka/**
      - libs/etterlatte-ktor/**
      - libs/etterlatte-oppgave-model/**
      - libs/etterlatte-behandling-model/**
      - gradle/libs.versions.toml
      - "!**/test/**"
  pull_request:
    branches:
      - main
    paths:
      - apps/etterlatte-hendelser-joark/**
      - "!apps/etterlatte-hendelser-joark/.nais/*"
      - libs/saksbehandling-common/**
      - libs/etterlatte-kafka/**
      - libs/etterlatte-ktor/**
      - libs/etterlatte-oppgave-model/**
      - libs/etterlatte-behandling-model/**
      - gradle/libs.versions.toml

permissions:
  contents: write
  id-token: write

jobs:
  test:
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/.test.yaml
    secrets: inherit

  build-and-deploy:
    if: github.event_name != 'pull_request'
    uses: ./.github/workflows/.build-and-deploy.yaml
    secrets: inherit