name: etterlatte-egne-ansatte-lytter

on:
  workflow_dispatch: # Allow manually triggered workflow run

  push:
    branches:
      - main
    paths:
      - apps/etterlatte-egne-ansatte-lytter/**
      - libs/saksbehandling-common/**
      - libs/etterlatte-ktor/**
      - libs/etterlatte-kafka/**
      - libs/rapidsandrivers-extras/**
      - gradle/libs.versions.toml
      - libs/etterlatte-pdl-model/**
      - "!**/test/**"
  pull_request:
    branches:
      - main
    paths:
      - apps/etterlatte-egne-ansatte-lytter/**
      - "!apps/etterlatte-egne-ansatte-lytter/.nais/*"
      - libs/saksbehandling-common/**
      - libs/etterlatte-ktor/**
      - libs/etterlatte-kafka/**
      - libs/rapidsandrivers-extras/**
      - gradle/libs.versions.toml
      - libs/etterlatte-pdl-model/**

permissions:
  contents: write
  id-token: write

jobs:
  test:
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/.test.yaml
    secrets: inherit

  build-and-deploy:
    if: github.event_name != 'pull_request'
    uses: ./.github/workflows/.build-and-deploy.yaml
    secrets: inherit