name: etterlatte-pdltjenester

on:
  workflow_dispatch: # Allow manually triggered workflow run
    inputs:
      deploy-prod:
        description: 'Deploy til produksjon'
        required: false
        default: 'false'
        type: choice
        options:
          - true
          - false
  push:
    branches:
      - main
    paths:
      - apps/etterlatte-pdltjenester/**
      - libs/etterlatte-sporingslogg/**
      - libs/saksbehandling-common/**
      - libs/etterlatte-ktor/**
      - libs/etterlatte-pdl-model/**
      - gradle/libs.versions.toml
  pull_request:
    branches:
      - main
    paths:
      - apps/etterlatte-pdltjenester/**
      - "!apps/etterlatte-pdltjenester/.nais/*"
      - libs/etterlatte-sporingslogg/**
      - libs/saksbehandling-common/**
      - libs/etterlatte-ktor/**
      - libs/etterlatte-pdl-model/**
      - gradle/libs.versions.toml

permissions:
  contents: read
  id-token: write

jobs:
  test:
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/.test.yaml
    secrets: inherit

  build:
    if: github.event_name != 'pull_request'
    uses: ./.github/workflows/.build.yaml
    secrets: inherit

  deploy:
    if: github.event_name != 'pull_request'
    needs: build
    uses: ./.github/workflows/.deploy.yaml
    with:
      image: ${{ needs.build.outputs.image }}
    secrets: inherit
