name: etterlatte-testdata

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - apps/etterlatte-testdata/**
      - libs/ktor2client-onbehalfof/**
      - gradle/libs.versions.toml
  pull_request:
    branches:
      - main
    paths:
      - apps/etterlatte-testdata/**
      - libs/ktor2client-onbehalfof/**
      - gradle/libs.versions.toml

jobs:
  test:
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/.test.yaml
    secrets: inherit

  build:
    if: github.event_name != 'pull_request'
    uses: ./.github/workflows/.build.yaml
    secrets: inherit
    permissions:
      contents: 'read'
      id-token: 'write'

  deploy:
    if: github.event_name != 'pull_request'
    needs: build
    uses: ./.github/workflows/.deploy.yaml
    with:
      image: ${{ needs.build.outputs.image }}
    secrets: inherit
