name: etterlatte-beregning

on:
  workflow_dispatch: # Allow manually triggered workflow run
    inputs:
      deploy-prod:
        description: 'Deploy til produksjon'
        required: false
        default: 'false'
        type: choice
        options:
          - true
          - false
  push:
    branches:
      - main
    paths:
      - apps/etterlatte-beregning/**
      - libs/saksbehandling-common/**
      - libs/etterlatte-funksjonsbrytere/**
      - libs/etterlatte-ktor/**
      - libs/etterlatte-behandling-model/**
      - libs/etterlatte-database/**
      - libs/etterlatte-regler/**
      - libs/etterlatte-trygdetid-model/**
      - libs/etterlatte-vedtaksvurdering-model/**
      - libs/etterlatte-vilkaarsvurdering-model/**
      - libs/etterlatte-jobs/**
      - libs/testdata/**
      - gradle/libs.versions.toml
  pull_request:
    branches:
      - main
    paths:
      - apps/etterlatte-beregning/**
      - "!apps/etterlatte-beregning/.nais/*"
      - libs/saksbehandling-common/**
      - libs/etterlatte-funksjonsbrytere/**
      - libs/etterlatte-ktor/**
      - libs/etterlatte-behandling-model/**
      - libs/etterlatte-database/**
      - libs/etterlatte-regler/**
      - libs/etterlatte-trygdetid-model/**
      - libs/etterlatte-vedtaksvurdering-model/**
      - libs/etterlatte-vilkaarsvurdering-model/**
      - libs/etterlatte-jobs/**
      - libs/testdata/**
      - gradle/libs.versions.toml

permissions:
  contents: read
  id-token: write

jobs:
  test:
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/.test.yaml
    secrets: inherit

  build:
    if: github.event_name != 'pull_request'
    uses: ./.github/workflows/.build.yaml
    secrets: inherit

  deploy:
    if: github.event_name != 'pull_request'
    needs: build
    uses: ./.github/workflows/.deploy.yaml
    with:
      image: ${{ needs.build.outputs.image }}
    secrets: inherit
