name: etterlatte-tilbakestill-alle-prod

on:
  workflow_dispatch: # Allow manually triggered workflow run

jobs:
  tilbakestill-til-main:
    secrets: inherit
    strategy:
      matrix:
        applikasjon:
          - behandling
          - beregning
          - brev-api
          - grunnlag
          - gyldig-soeknad
          - hendelser-pdl
          - oppdater-behandling
          - opplysninger-fra-soeknad
          - pdltjenester
          - saksbehandling-ui
          - statistikk
          - egne-ansatte-lytter
          - utbetaling
          - vedtaksvurdering
          - vilkaarsvurdering
          - samordning-vedtak
    uses: ./.github/workflows/.deploy-main-prod.yaml
    with:
      applikasjon: ${{ matrix.applikasjon }}
    permissions:
      contents: read
      id-token: write
